[workspace]
resolver = "2"
members = [
    "llama-cpp-sys-2",
    "llama-cpp-2",
    "simple",
]

[workspace.dependencies]
# core library deps
thiserror = "1"
tracing = "0.1"

# examples and benchmarks
hf-hub = { version = "0.3.2" }
criterion = "0.5.1"
pprof = "0.13.0"
bindgen = "0.69.4"
cc = "1.0.88"
anyhow = "1.0.80"
clap = "4.5.1"

[workspace.lints.rust]
missing_docs = { level = "warn" }
missing_debug_implementations = { level = "warn" }

[workspace.lints.clippy]
pedantic = { level = "warn"  }
