[package]
name = "llama-cpp-2"
description = "llama.cpp bindings for Rust"
version = "0.1.29"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/utilityai/llama-cpp-rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
llama-cpp-sys-2 = { path = "../llama-cpp-sys-2", version = "0.1.29" }
thiserror = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
hf-hub = { workspace = true }
criterion = { workspace = true }
pprof = { workspace = true, features = ["criterion", "flamegraph"] }

# used in examples
clap = { version = "4.5.1", features = ["derive"] }
anyhow = "1.0.80"

[[bench]]
name = "grammar_bias"
harness = false

[[bench]]
name = "generate"
harness = false

[features]
cublas = ["llama-cpp-sys-2/cublas"]

[lints]
workspace = true
