[package]
name = "llama-cpp-2"
description = "llama.cpp bindings for Rust"
version = "0.1.56"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/utilityai/llama-cpp-rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
llama-cpp-sys-2 = { path = "../llama-cpp-sys-2", version = "0.1.56" }
thiserror = { workspace = true }
tracing = { workspace = true }

[features]
cuda = ["llama-cpp-sys-2/cuda"]
metal = ["llama-cpp-sys-2/metal"]
hipblas = ["llama-cpp-sys-2/hipblas"]
sampler = []

[target.'cfg(all(target_os = "macos", any(target_arch = "aarch64", target_arch = "arm64")))'.dependencies]
llama-cpp-sys-2 = { path = "../llama-cpp-sys-2", features=["metal"], version = "0.1.48" }

[lints]
workspace = true

[package.metadata.docs.rs]
features = ["sampler"]
