[package]
name = "llama-cpp-sys-2"
description = "Low Level Bindings to llama.cpp"
version = "0.1.45"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/utilityai/llama-cpp-rs"
links = "llama"

include = [
    "build.rs",
    "/src",
    "/llama.cpp/ggml.c",
    "/llama.cpp/ggml.h",
    "/llama.cpp/ggml-alloc.c",
    "/llama.cpp/ggml-alloc.h",
    "/llama.cpp/ggml-backend.c",
    "/llama.cpp/ggml-backend.h",
    "/llama.cpp/ggml-backend-impl.h",
    "/llama.cpp/ggml-cuda.cu",
    "/llama.cpp/ggml-cuda.h",
    "/llama.cpp/ggml-impl.h",
    "/llama.cpp/ggml-metal.m",
    "/llama.cpp/ggml-metal.metal",
    "/llama.cpp/ggml-metal.h",
    "/llama.cpp/ggml-mpi.c",
    "/llama.cpp/ggml-mpi.h",
    "/llama.cpp/ggml-opencl.cpp",
    "/llama.cpp/ggml-opencl.h",
    "/llama.cpp/ggml-quants.c",
    "/llama.cpp/ggml-quants.h",
    "/llama.cpp/llama.cpp",
    "/llama.cpp/llama.h",
    "/llama.cpp/unicode.h",
    "/llama.cpp/unicode.cpp",
    "/llama.cpp/ggml-common.h"
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[build-dependencies]
bindgen = { workspace = true }
cc = { workspace = true, features = ["parallel"] }

[features]
cublas = []

