name: Llama Cpp Rs Check

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  check:
    name: Run Tests on LLama Cpp Rs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          submodules: recursive
      - name: Install Compile Deps
        env:
          DEBIAN_FRONTEND: noninteractive
        run:
          sudo apt-get update && sudo apt-get install -y build-essential curl libssl-dev libclang-dev pkg-config cmake git
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - name: Clippy
        run: cargo clippy
      - name: Fmt
        run: cargo fmt --check
      - name: Test
        run: cargo test --features sampler
      - name: Dry-Run Publishing
        run: RUST_BACKTRACE=1 cargo publish --workspace --verbose --dry-run
  arm64:
    name: Check that it builds on various targets
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [ linux/arm64, linux/amd64 ]
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
        with:
          platforms: arm64,amd64
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435
      - name: Build
        uses: docker/build-push-action@v6
        with:
          file: test-build.Dockerfile
          target: base-cuda
          platforms: ${{ matrix.target }}
  mac:
    name: Check that it builds on mac
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          submodules: recursive
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --features sampler
  windows:
    name: Check that it builds on windows
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          submodules: recursive
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --features sampler
      - name: Test
        run: cargo test --features sampler
